<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="OnSubmit()">
                        <div class="form-label-group">
                            
                            <input type="text" formControlName="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && loginform.email.errors }" />
                            <div *ngIf="submitted && loginform.email.errors" class="invalid-feedback">
                                <div *ngIf="loginform.email.errors.required">Email is required</div>
                                <div *ngIf="loginform.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginform.password.errors }" placeholder="Password">
                            <div *ngIf="submitted && loginform.password.errors" class="invalid-feedback">
                                <div *ngIf="loginform.password.errors.required">password is required</div>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr>
                        Do not have account? <a [routerLink]="['/register']">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>